body{
	background-image: url(img/img1.jpg);
}

#gameWindow{
	position: relative;
	width:550px;
	height: 460px;
	margin: 0 auto;
	background-color: #dcd9cd;
        overflow: hidden;
        cursor: url(img/crosshair.gif)16 16, crosshair;
}

.monkey{
   position: absolute;
   z-index: 10;
   width: 80px;
   height: 80px;
   background: url('monkey.png');
   background-size: 80px 80px;
   
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
